.handler {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e4e498;
    z-index: 9999;
}

.loading {
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.625rem;
    width: max-content;
    padding: 1.325rem 1.625rem;
}

.loader {
    border: 0.325rem solid #f3f3f3;
    border-top: 0.325rem solid #9739c8;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: relative;
    animation: spin 1.5s linear infinite;
    margin-right: 0.125rem;
}

.loading span {
    color: #9739c8;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.back {
    font-size: 1.75rem;
    color: #333;
    cursor: pointer;
}

.cat-ul {
    display: flex;
    width: 100%;
    list-style: none;
    flex-direction: column;
}

.cat-ul a {
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.05rem;
    padding: 0.25rem 0.125rem;
}

.cat-ul a li {
    width: 100%;
    color: #8013BD;
} 
